.header {
	position: relative;
	height: 70px;
	z-index: 1001;
}

.float-left { float: left; }

.float-right { float: right; }

.wrap {
	max-width: 1280px;
	min-width: 320px;
	width: auto;
	background: #fff;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	z-index: 10;
}

.navbar-default {
    background: #02578e;
}

.top-nav-bg {
    top: 20px;
    display: table;
    height: 47px;
    width: 100%;
    background: #02578e;
    z-index: 10;
}

.search-form {
    display: flex;
    flex-direction: row-reverse;
}

.s-inp {
    flex: 1;
    border-radius: 4px;
}

.submit-btn {
    margin: 0 20px;
    border-radius: 4px;
    background: white;
    border-style: none;
    padding: 0 20px;
}

.custom-carousel {
    height: 550px;
    border: 3px solid #2c3e50;
}

.custom-idicators li {
    border: 1px solid #2c3e50;
    background: #2c3e50;
}

.razdel-box {
    width: 240px;
}

.razdel-box, .search-box, .srv-box {
    display: table-cell;
    vertical-align: top;
    height: 47px;
}

.vertical-center {
    margin-top: 25%;
}

.rel { position: relative; }

.razdel, .razdel:hover {
	display: block;
	text-decoration: none;
	z-index: 2;
	cursor: pointer;
}

.adapt-1024 {
	display: none !important;
	visibility: hidden !important;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    color:  #02578e;
}

.razdel b {
	display: block;
	height: 47px;
	font-size: 14px;
	line-height: 22px;
	color: #fff;
	text-transform: uppercase;
	padding: 14px 0 0 26px;
}

.search-box input[type=checkbox], .search-box label { display: none; }

html, body, div {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

.search-box form {
	position: relative;
	padding: 7px 30px 0 17px;
}

.search-box input[type=submit] {
	top: 7px;
	right: 57px;
	width: 41px;
	height: 33px;
	text-indent: -3000px;
	margin: 0 -41px 0 0;
}

.search-box label b, .search-box input[type=submit] {
	height: 33px;
	background: url(http://mo-neosho.civicplus.com/images/layout/design21/go.png) no-repeat;
}

.search-box form .s-inp {
	position: relative;
	background: #fff;
	padding: 0 2px;
}

.search-box input[type=text] {
	width: 100%;
	height: 33px;
	font-size: 14px;
	color: #666;
	background: 0;
	border: 0;
	padding: 0 10px;
    outline: none;
}

/* for categories */

.category-menu-wapper .sub-cat { display: none; }

.category-menu-wapper .root-cat:hover > .sub-cat {
    display: block;
    background-color: #eeeeee;
    border-left: 1px solid #02578e;
    box-shadow: 0 0 10px rgba(8, 5, 5, 0.5);
    z-index: 1;
}
.root-cat { position: relative; 
}

.sub-cat {
	position: absolute;
	left: 250px;
}
.cat-name:hover > a > b:hover {
    background-color: #02578e;
    color: #eeeeee;
    text-shadow: none;
}
.cat-name {
	/*margin-right: 4px;
	padding-bottom: 3px;*/
	width: 250px;
}

.cat-name > a {
	color: #35a;
	background-color: #f6f6f6;
	text-decoration: none;
	z-index: 8;
}

.root-cat > .cat-name > a > b {
	min-height: 34px;
	font-weight: normal;
	font-size: 14px;
	text-decoration: none;
	padding: 9px 10px 7px 26px;
	text-shadow: 1px 1px #fff;
	z-index: 8;
	background-color: #dcdcdc;
	position: relative;
	display: block;
}
.adv {
	height: 350px;
}
.g-name {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 79%;
}
.g-images {
	max-height: 227px;
}
.glyphicon-arrow-down:before {
	 padding-right: 7px;
}
.paging .pagination-container {
    display: flex;
    justify-content: center;
}

.paging li > a {
    background: #3498db;
}


.paging li > a:hover,
.paging .active > a,
.paging .active > a:hover {
    background:  #02578e;
}

.paging .disabled > a,
.paging .disabled > a:hover {
    background: #3c4f5d;
}

.custom-table {
    margin-top: 70px;
}

.custom-table .shop-logo {
    max-width: 100px !important;
}
